<%= Navigation("login") %>

<div class="content">
	<h1>Login</h1>
	<% if notice!=nil %>
	<div class="alert alert-error">
		<%= notice %>
	</div>
	<% end %>
	<%= form_tag author_sessions_path, method: :post, id: "loginform" do %>
	  <div class="field">
	    <input type="text" class="span6" name="username" required="true" placeholder="Username" />
	    <br/>
	  </div>
	  <div class="field">
	    <input type="password" class="span6" name="password" required="true" placeholder="Password" />
	    <br/>
	  </div>
	  <div class="actions">
	    <%= submit_tag "Login", :class => "blue-pill", :id => "loginBtn" %>
	  </div>
	<% end %>
</div>
