/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.content a{
	color:rgb(0,172,239);
}

.content a:active, .content a:hover{
	background:none;
	color:rgb(0,172,239);
}

#logo{
	cursor:pointer;
}

.sidebar{
	width:250px;
	height:auto;
	min-height:600px;
	padding:15px;
	background:#FFF;
	float:right;
}

.flickr ul
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.flickr ul li 
{
        border-bottom: 0;
        margin: 0;
        padding: 0;
}

.flickr_photo
{
        width: 100px;
        height: 75px;
        margin: 2px;
}

.instruction{
	font-size:9pt;
}

.photo-thumb{
	border:1px solid #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:15px 2px 15px 0;
}

.gallery-img{
	width:940px !important;
	height:auto !important;
}


/** Login Page **/
	
#loginform{
	width:460px;
	height:130px;
	padding:10px;
	border:1px solid #999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:0 auto;
	margin-top:100px;
}

#loginBtn{
	float:right;
}

#login-box{
	width:220px;
	height:auto;
	padding:10px;
	background:#FFF;
	border:1px solid #999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:200;
	margin: -10px 0px 0px 630px;
	position:absolute;
	overflow:visible;
	display:none;
	-moz-box-shadow: 0px 11px 25px rgba(34,34,34,0.74);
	-webkit-box-shadow: 0px 11px 25px rgba(34,34,34,0.74);
	box-shadow: 0px 11px 25px rgba(34,34,34,0.74);
}

#login-box form{
	margin:0;
	padding:0;
}

#login-box button{
	float:right;
}

#flickr-ico{
	width:60px;
	height:60px;
	position:absolute;
	z-index:100;
}

/** Login Page **/